<div class="footer-area footer-padding">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="footer-main-title">Fashion Show</div>
        <div class="footer-description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="icon">
          <a href="#" class="fa fa-facebook nav-link"></a>
          <a href="#" class="fa fa-twitter nav-link"></a>
          <a href="#" class="fa fa-instagram nav-link"></a>
        </div>
      </div>
      <div class="col-3">
        <div class="footer-title">Quick Links</div>
        <div class="footer-description">
          <ul>
            <li>Home</li>
            <li>Shop</li>
            <li>About</li>
          </ul>
        </div>
      </div>
      <div class="col-3">
        <div class="footer-title">Categories</div>
        <div class="footer-description">
          <ul>
            <li>Category 1</li>
            <li>Category 2</li>
            <li>Category 3</li>
          </ul>
        </div>
      </div>
      <div class="col-3">
        <div class="footer-title">Contact Us</div>
        <div class="footer-description">
          <ul>
            <li>(XY) xxx-xxx-xxx</li>
            <li>info@fshow.com</li>
            <li>9, Khalifa City, Abu Dhabi</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-area">
    <div class="container">
      <div class="footer-border">
        <div class="footer-copy-right text-center">
          <div class="footer-copy-right-text">
            Copyright ©2021 All rights reserved | made by XYZ Company
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
